

                            /* --------------navBar------------ */

.userIcon {
    color:black;
}

.userIcon:hover {
    color: green;
}



.formDiv {
    background: url('https://images.pexels.com/photos/8850807/pexels-photo-8850807.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-size: cover;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
}

.footerDiv {
    background-color: azure;
}